@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);
  --default-font: var(--font-gothic-a1)
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-separator: 	hsl(213, 15%, 88%);
  --color-searchbar: hsl(210, 4%, 91%)
  /* Fonts */
  --font-logo: var(--font-risque);
  --font-primary: var(--default-font);
  /* Font Sizes */
  --text-large: 2em;
  --text-medium: 1.5em;
  --text-small: 1em;
  /* Beakpoints */
  --breakpoint-tablet: 63.75em;
  --breakpoint-mobile: 41.25em;
}

html {
  height: 100vh;
  width: 100vw;
}